*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-font-white: rgb(240, 248, 255);
    --clr-font-black: rgb(40, 40, 40);
    --principal-clr: #0583D2;
    --principal-clr-hover: #b1e1ff;
    --checkbox-bg-clr: #eee;
    --checkbox-bg-clr-hover: #ccc;
    --btn-validation: #93e493;
    --btn-validation-hover: #71c671;
    --btn-validation-border: #459045;
}

body {
    font-family: sans-serif;
    color: var(--clr-font-black);
}

.div__content {
    display: flex;
}

header {
    width: 25%;
    padding: 3rem 0;
    border-right: 2px solid var(--clr-font-black);
}

#calendar {
    width: 75%;
}

.navigation {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.sections_nav {
    display: flex;
    gap: 2rem;
}

.btn__calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem .5rem;
    border-radius: 100%;
    border: 3px solid var(--principal-clr);
    background-color: var(--clr-font-white);
    cursor: pointer;
}

.btn__calendar:hover {
    background-color: var(--principal-clr-hover);
}



.div__checkbox {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--checkbox-bg-clr);
}

.container:hover input~.checkmark {
    background-color: var(--checkbox-bg-clr-hover);
}

.container input:checked~.checkmark {
    background-color: var(--principal-clr);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--clr-font-white);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.custom-select {
    padding: .5rem 1rem;
    font-weight: bold   ;
    border: none;
    background-color: var(--principal-clr);
    color: var(--clr-font-white);
}

.section__une {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__deux {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1.5rem;
}



.visual {
    border-radius: 2rem;
    padding: .5rem 1rem;
    color: var(--principal-clr);
    font-weight: bold;
}

.section__btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
}


.input__research {
    padding: .5rem;
    background-color: var(--principal-clr);
    color: var(--clr-font-white);
    border: 3px solid var(--principal-clr);
}


.input__research::placeholder {
    color: var(--clr-font-white);
}

#btn__search {
    background-color: var(--btn-validation);
    padding: 0 1rem;
    height: 36.8px;
    border: 3px solid var(--btn-validation-border);
    color: var(--btn-validation-border);
    font-weight: bold;
    cursor: pointer;
}

#btn__search:hover {
    background-color: var(--btn-validation-hover);
}